@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

$title-font: 'DynaPuff';
$normal-font: 'Poppins';
$thema-color: rgba(188, 0, 22);
$thema2-color: #ffc736;